* {
  padding: 0;
  margin: 0;
}

nav {
  background-color: antiquewhite;
  border-bottom:black solid;
}

ul {
  display: flex;
  justify-content: end;
  padding: 20px;
  list-style: none;
}

li {
  padding: 5px;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.showcase {
  margin-top: 50px;
  text-align: center;
}

.btn {
  padding: 30px;
  border-radius: 20px;
  border: black solid;
  margin: 35px;
}

.wrapper{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.img{
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  width: 500px;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
}

h4{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

p {
  text-align: center;
}

.box-width {
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  width: 500px;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
}